.container{
    height: 917px;
}

.parallax{
    padding: 19px;
    font-size: 13px;
}

.text1{
    height: 478px;
}

.para{
    padding:0px 14px;
}

.explore{
    height: 234px;
}

.ex{
    padding: 18px;
    font-size: 30px;
}

.text2{
    height: 478px;
}

.look{
    height: 234px;
}

.lo{
    padding: 18px;
    font-size: 30px;
}

.text3{
    height: 478px;
}

.d{
    padding: 18px;
    font-size: 30px;
}